.wrapper {
  background-image: url("../../images/home/Picture.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: calc(100vh - 68px);
}

@media screen and (min-resolution: 192dpi),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
  .loginPage {
    background-image: url("../../images/home/Picture@2x.jpg");
  }
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
  margin-bottom: 16px;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: var(--white);
  margin-bottom: 40px;
}

.link {
  border-radius: 12px;
  width: 276px;
  height: 44px;
  background: var(--button);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: calc(100vh - 68px);
  padding-bottom: 60px;
}