@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap");

:root {
  --main: #101828;
  --gray: #8E929A;
  --button: #3470FF;
  --button-hover: #0B44CD;
  --gray-light: #DADDE1;
  --badges: #F2F4F7;
  --inputs: #F7F7F7;
  --white: #FFFFFF;

  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", system-ui;

  font-family: Inter, system-ui, Manrope, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  color: #F5EFE7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-align: center;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}